@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

// Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%)

$very-light-grayish-blue: hsl(240, 80%, 98%);
$light-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    background: $very-light-grayish-blue;
}

img {
    max-width: 100%;
    height: auto;
}

.top {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    user-select: none;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    user-select: none;
}

@import "./main";